# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pkl

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/
conda/
*.conda

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Alert Images
# =========================
alerts/


# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.cache/
*.cache

# =========================
# TensorRT
# =========================
*.plan

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary
# =========================
tmp/
temp/

